<div class="form-container">
    <app-create-content (newContentEvent)="addContentToList($event)"></app-create-content>
</div>
<div class="search-container">
    <input placeholder="Type something nice ..." [(ngModel)]="inputSearch">
</div>
<app-content-card appHoverCard *ngFor="let contentIndividual of (contentList); first as isFirst; last as isLast" appHoverCard [theIndex]="isFirst || isLast"  [content]="contentIndividual"
                  class="content-list-{{contentIndividual.type}} found-{{(contentIndividual | contentTitleEquals:inputSearch)}}" >
                 First: {{isFirst}}
                  {{ contentIndividual }}
</app-content-card>
