<div class="form-container">
    <app-create-component (newContentEvent)="addContentToList($event)" (updateContentEvent)="updateTheList($event)"></app-create-component>
</div>
<div class="search-container">
    <input placeholder="Type something nice ..." [(ngModel)]="inputSearch">
</div>
<app-content-card  appHoverCard *ngFor="let contentIndividual of (contentList); first as isFirst; last as isLast" appHoverCard  [content]="contentIndividual"
                  class="content-list-{{contentIndividual.type}} found-{{(contentIndividual | contentTitleEquals:inputSearch)}}" (click) = "onSelect(contentIndividual)">
                 First: {{isFirst}}
                  {{ contentIndividual }}
</app-content-card>
