.search-container{
    width: 300px;
    margin: 10px auto;
    input{
        padding: 10px 20px;
        border: 1px solid #343434;
    }
}

.form-container{
    width: 600px;
    margin: 10px auto;
    border: 1px solid #343434;
    padding: 30px;
    
}