<mat-card class="content-card">
  <mat-card-header>
    <div mat-card-avatar class="content-header-image" style="background-image: url('https://picsum.photos/40/40?random={{content.id*45}}');"></div>
    <mat-card-title>{{ content.title }}</mat-card-title>
    <mat-card-subtitle>{{ content.author }}</mat-card-subtitle>
  </mat-card-header>
  <div class="image-wrapper" *ngIf="content.imgUrl; else noImageProvided">
    <img (click)="imageClicked(content.id)" mat-card-image src="{{content.imgUrl}}" alt="Photo for {{content.title}}">
  </div>
  <ng-template #noImageProvided>
    <div class="image-wrapper no-image">
      <img mat-card-image (click)="imageClicked(content.id)" class="content-image" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1255/image-not-found.svg">
    </div>
  </ng-template>
  <mat-card-actions>
  <button mat-raised-button color="primary" [routerLink]="['/content', content.id]" routerLinkActive="active">More ></button>

  </mat-card-actions>
</mat-card>